.dataDisplayTableWidget {
    text-align:left;
}

.dataDisplayTableWidget h1 {
    text-align:left;
    color:#a3a3a3;
    font-size:1.4em;
}

.dataDisplayTableWidget dl {
    margin-bottom:50px; 
}

.dataDisplayTableWidget dl dt {
    background:#5f9be3;
    color:#fff;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:3px;  
    width:75px; 
}

.dataDisplayTableWidget dd {
    margin:2px 0; 
    padding:3px 0;
}
