$def with (page)
<!DOCTYPE html>
$# This base template should NOT be modified.
$# It is designed to handle all changes via sub-templates or python call to a PageControl() instance
<html>

	<head>
        <!-- Import the headBlock. The headBlock contains the title and default JS and CSS files -->
        $:page.headBlock
	</head>
	<body> 
	    $:page.navigationBar
	    <!-- START contentPane -->
        <div id="contentPane">
	    $:page.contentPane
	    </div>
	    <!-- END contentPane -->
	</body>
</html>
