$def with (page)

<!-- START leftColumn -->

<div id="leftColumn">
<div class="widget">
	<center>
		<button id="addWaypointButton" onclick="addWaypoint()">Create Waypoint</button>
		<button id="addBoundaryButton" onclick="addBoundary()">Create Boundary</button>
	</center>
        $:page.mapWidget
    </div>

</div>
<!-- END leftColumn -->

<!-- START rightColumn -->
<div id="rightColumn">
    <div class="widget dataDisplayTableWidget">
        <h1>Challenge</h1>
		    <div class="ui-widget">
		        <select id="description" onchange="setChallenge(this)">
				  <option value="none">None</option>
				  <option value="challenge.navigation">Navigation</option>
				  <option value="challenge.stationkeeping">Station Keeping</option>
				  <option value="challenge.longdistance">Long Distance</option>
				  <option value="challenge.chaserace">Chase Race</option>
				</select>
			</div>
    </div>
    
    
    <div class="widget dataDisplayTableWidget">
	    <div class="smallColumn">
	        <h1>Waypoints</h1>
	        
	        
	        <table id="waypointListTable">
	        	<tr>
	        		<td></td>
	        	</tr>
	        </table>
	        
	      </div>
    </div>
    
    <div class="widget dataDisplayTableWidget">
    	<div class="smallColumn">
        <h1>Boundaries</h1>
        
       	<table id="boundaryListTable">
	       <tr>
	    	    <td></td>
	       </tr>
	    </table>
        
        
        <!--
        <dl>
            <dt>Bound1</dt>
            <dd >
            	lat:<input type="text" id="blat1" size="8" onkeyup="updateBoundaries(0)">
            	lon:<input type="text" id="blon1" size="8" onkeyup="updateBoundaries(0)">
            	radius: <input type="text" id="brad1" size="8" onkeyup="updateBoundaries(0)">
            	<button id="bb1" onclick="deleteBoundary(0)">X</button>
            </dd>
           
            <dt>Bound2</dt>
            <dd>
            	lat:<input type="text" id="blat2" size="8" onkeyup="updateBoundaries(1)">
            	lon:<input type="text" id="blon2" size="8" onkeyup="updateBoundaries(1)">
            	radius: <input type="text" id="brad2" size="8" onkeyup="updateBoundaries(1)">
              <button id="bb2" onclick="deleteBoundary(1)">X</button>            	
            </dd>

        </dl> -->
    </div>
    
    <button id="sendDataButton" onclick="senddata()">Send Data</button>

    

<!-- END rightColumn -->

