$def with (page)

<!-- START leftColumn -->
<div id="leftColumn">
    <div class="widget">
        $:page.mapWidget
    </div>
         
    <div class="widget">
        $:page.compassWidget
    </div>

</div>
<!-- END leftColumn -->

<!-- START rightColumn -->
<div id="rightColumn">
    
    <div class="widget dataDisplayTableWidget">
        <h1>Telemetry</h1>
        <dl>
            <dt>S.O.G.</dt>
            <dd id="telemetry-speedOverGroundCell"></dd>
            
            <dt>Wind Direction</dt>
            <dd id="telemetry-windDirectionCell"></dd>
            
            
            <dt>Latitude</dt>
            <dd id="telemetry-latitudeCell"></dd>
            
            <dt>Longitude</dt>
            <dd id="telemetry-longitudeCell"></dd>
        </dl>
    </div>
    
    

</div>
<!-- END rightColumn -->

