$def with (page)

<!-- START leftColumn -->
<div id="leftColumn">
    <div class="widget">
        $:page.mapWidget
    </div>
         
    <div class="widget">
        $:page.compassWidget
    </div>

</div>
<!-- END leftColumn -->

<!-- START rightColumn -->
<div id="rightColumn">
    
      <div class="widget dataDisplayTableWidget">
        <h1>Connection Status</h1>
        <dl>            
            <dt>GPS # of Satellites</dt>
            <dd id="connectionStatus-satNumCell"></dd>
            
            <dt>GPS HDOP</dt>
            <dd id="connectionStatus-gpsAccuracyCell"></dd>
            
            <dt>Mode</dt>
            <dd id="connectionStatus-autoMode"></dd>
        </dl>
    </div>
    
    <br  style="clear:both" />
    
    <div class="widget dataDisplayTableWidget">
        <h1>Telemetry</h1>
        <dl>
            <dt>S.O.G.</dt>
            <dd id="telemetry-speedOverGroundCell"></dd>
            
            <dt>Wind Direction</dt>
            <dd id="telemetry-windDirectionCell"></dd>
            
            <dt>Latitude</dt>
            <dd id="telemetry-latitudeCell"></dd>
            
            <dt>Longitude</dt>
            <dd id="telemetry-longitudeCell"></dd>
            
            <dt>Rudder Angle</dt>
            <dd id="telemetry-rudderCell"></dd>           
        </dl>
    </div>
    
    <br  style="clear:both" />
    
    <div class="widget dataDisplayTableWidget">
        <h1>Current Process</h1>
        <dl>
            <dt>Task</dt>
            <dd id="currentProcess-currentTaskCell"></dd>
            
            <dt>Time to Completion</dt>
            <dd id="currentProcess-timeToCompletionCell"></dd>
        </dl>
    </div>

</div>
<!-- END rightColumn -->

