$def with (page)

<!-- START leftColumn -->
<div id="leftColumn">
    <div class="widget">
        $:page.mapWidget
    </div>
         
    <div class="widget">
        $:page.compassWidget
    </div>

</div>
<!-- END leftColumn -->

<!-- START rightColumn -->
<div id="rightColumn">
    <div class="widget dataDisplayTableWidget">
        <h1>Connection Status</h1>
        <dl>
            <dt>Online/Offline</dt>
            <dd id="connectionStatus-onlineOfflineCell"></dd>
            
            <dt>Battery Level</dt>
            <dd id="connectionStatus-batteryLevelCell"></dd>
            
            <dt>GPS # of Satellites</dt>
            <dd id="connectionStatus-satNumCell"></dd>
            
            <dt>GPS Accuracy</dt>
            <dd id="connectionStatus-gpsAccuracyCell"></dd>
            
            <dt>Hardware Health</dt>
            <dd id="connectionStatus-hardwareHealthCell"></dd>
        </dl>
    </div>
    
    <div class="widget dataDisplayTableWidget">
        <h1>Telemetry</h1>
        <dl>
            <dt>S.O.G.</dt>
            <dd id="telemetry-speedOverGroundCell"></dd>
            
            <dt>Wind Direction</dt>
            <dd id="telemetry-windDirectionCell"></dd>
            
            <dt>Current Maneuver</dt>
            <dd id="telemetry-currentManeuverCell"></dd>
            
            <dt>Latitude</dt>
            <dd id="telemetry-latitudeCell"></dd>
            
            <dt>Longitude</dt>
            <dd id="telemetry-longitudeCell"></dd>
        </dl>
    </div>
    
    <div class="widget dataDisplayTableWidget">
        <h1>Current Process</h1>
        <dl>
            <dt>Task</dt>
            <dd id="currentProcess-currentTaskCell"></dd>
            
            <dt>Time Remaining</dt>
            <dd id="currentProcess-timeRemainingCell"></dd>
            
            <dt>Time to Completion</dt>
            <dd id="currentProcess-timeToCompletionCell"></dd>
        </dl>
    </div>
</div>
<!-- END rightColumn -->

